<% layout("/layouts/boilerplate") %>
<body>
    <br>
    <div class="row">
        <div class="col-8 offset-2" >
    <h3>Create a new listing</h3>
    <form method="post" action="/listings"> 

        <div>
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" placeholder="enter catchy title" type="text" class="form-control">
        </div>
        
        <br>
        <br>

        <div>
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" placeholder="enter description" type="text" class="form-control"></textarea>
        </div>
        
        <br>

        <div>
            <label for="image" class="form-label">Image</label>
            <input name="listing[image]" placeholder="enter image url" type="text" class="form-control">
        </div>
        
        <br>
        <br>

    <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" placeholder="1500" type="number" class="form-control">
        </div>
        
        <br>
        <br>

        <div class="mb-8 col-md-8">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" placeholder="enter location" type="text" class="form-control">
        </div>
    </div>

        
        <br>
        <br>

        <div>
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" placeholder="India" type="text" class="form-control">
        </div>
        
        <br>
        <br>
        <button class="btn btn-dark add-btn">ADD</button>
    </form>
    </div>
    </div>
</body>
